[disabled] {
  opacity: 0.7;
}

:root {
  --primary-color: #6b46c1;
  --primary-light-color: #8560fc;
  --primary-dark-color: #4d3793;
  --secondary-color: #2ee9b4;
  --secondary-light-color: #69f9cc;
  --secondary-dark-color: #009B6F;
  --tertiary-color: #2ee9b4;
  --tertiary-light-color: #69f9cc;
  --tertiary-dark-color: #009B6F;
  --success-color: #28a745;
  --success-light-color: #28a745;
  --success-dark-color: #28a745;
  --warning-color: #ffc107;
  --warning-light-color: #ffc107;
  --warning-dark-color: #ffc107;
  --danger-color: #dc3545;
  --danger-light-color: #dc3545;
  --danger-dark-color: #dc3545;
  --soft-color: #fff;
  --soft-light-color: transparent;
  --soft-dark-color: #fafafa;
  --neutral-color: rgb(0,0,0,0.6);
  --neutral-light-color: rgb(0,0,0,0.6);
  --neutral-dark-color: rgb(0,0,0,0.6);
  --heavy-color: rgb(0,0,0,0.6);
  --heavy-light-color: rgb(0,0,0,0.6);
  --heavy-dark-color: rgb(0,0,0,0.6);
}